# python stuff
**/__pycache__/
**/*.egg-info
*.pyc
.pytest_cache/
.ruff_cache/
venv/

# C stuff
*.cache
*.out

# Editor specific stuff
.vscode
.zed
compile_commands.json

# OS specific stuff
**/.DS_Store
